* {
    box-sizing: border-box;
}

body {
    width: 98%;
    display: flex;
    justify-content: center;
    font-family: 'Roboto Mono', monospace;
}

.total-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1%;
    width: 600px;
}

/* --------------------------- h1 / buttons ------------------------------ */

h1 {
    color: rgb(13, 160, 13);
    margin: auto;
}

.header-div {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.ops-and-data-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1%;
}

.button-div {
    margin: 0 auto;
    display: flex;
    align-self: left;
    gap: 10px;
    width: 20%;
}

button {
    margin: auto 0;
    font-size: 1em;
    font-family: 'Roboto Mono', monospace;
}

.displayed-data {
    display: flex;
    justify-content: right;
    width: 70%;
    margin: 0 auto;
}

.total-progress{
    margin: auto 4% auto 1%;
    display: flex;
    width: 250px;
    height: 15px;
}

.progress-div{
    position: absolute;
    width: 250px;
    height: 15px;
    border: 2px solid green;
    border-radius: 5px;
    z-index: 1;
}

.progress-value{
    width: 50%;
    height: 15px;
    border-radius: 5px;
    background-color: rgb(13, 160, 13);
    z-index: -1;
}
/* --------------------------- canvas ------------------------------ */

.game-div {
    width: 600px;
    height: 600px;
    background-color: black;
}

#canvas {
    margin: 30px;
} 
